@using DotnetconfChina.Views.Shared.Components.Footer

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] -  中国 .NET 开发者峰会 China .NET Conf 2019  </title>

    <link rel="shortcut icon" href="~/assets/img/favicon/favicon.ico" />
    <link rel="icon" type="image/png" sizes="16x16" href="~/assets/img/favicon/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/assets/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/assets/img/favicon/favicon-96x96.png">
    
    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="~/assets/vendor/font-awesome/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="~/assets/vendor/animate.css/animate.min.css">
    <link rel="stylesheet" href="~/assets/vendor/hs-megamenu/src/hs.megamenu.css">
    <link rel="stylesheet" href="~/assets/vendor/fancybox/jquery.fancybox.css">
    <link rel="stylesheet" href="~/assets/vendor/dzsparallaxer/dzsparallaxer.css">
    <link rel="stylesheet" href="~/assets/vendor/hs-bg-video/hs-bg-video.css">

    <link rel="stylesheet" href="~/assets/vendor/slick-carousel/slick/slick.css">






    <!-- CSS Front Template -->
    <link rel="stylesheet" href="~/assets/css/theme.css">

    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body id="homeSection">

    <!-- ========== HEADER ========== -->
    <header id="header" class="u-header u-header--abs-top-md u-header--bg-transparent u-header--show-hide-md"
            data-header-fix-moment="500" data-header-fix-effect="slide">


        <div class="u-header__section">

            <div id="logoAndNav" class="container">
                <!-- Nav -->
                <nav class="js-mega-menu navbar navbar-expand-md u-header__navbar u-header__navbar--no-space">
                    <!-- Logo -->
                    <a class="navbar-brand u-header__navbar-brand u-header__navbar-brand-center" href="/" aria-label="DotnetConfChina2019">
                        <img src="~/assets/img/logo/dotnet_60x60.png" />
                        <span class="u-header__navbar-brand-text">中国峰会</span>
                    </a>
                    <!-- End Logo -->
                    <!-- Responsive Toggle Button -->
                    <button type="button" class="navbar-toggler btn u-hamburger" aria-label="Toggle navigation"
                            aria-expanded="false" aria-controls="navBar" data-toggle="collapse" data-target="#navBar">
                        <span id="hamburgerTrigger" class="u-hamburger__box">
                            <span class="u-hamburger__inner"></span>
                        </span>
                    </button>
                    <!-- End Responsive Toggle Button -->
                    <!-- Navigation -->

                    <div id="navBar" class="collapse navbar-collapse u-header__navbar-collapse">
                        <ul class="js-scroll-nav navbar-nav align-items-md-center u-header__navbar-nav">
                            <li class="nav-item u-header__nav-item">
                                <a class="nav-link u-header__nav-link active" href="#homeSection">首页</a>
                            </li>

                            <li class="nav-item u-header__nav-item">
                                <a class="nav-link u-header__nav-link" href="#aboutSection">介绍</a>
                            </li>

                            <li class="nav-item u-header__nav-item">
                                <a class="nav-link u-header__nav-link" href="#producerSection">出品人</a>
                            </li>
                            <li class="nav-item u-header__nav-item">
                                <a class="nav-link u-header__nav-link" href="#speakerSection">演讲嘉宾</a>
                            </li>
                            <li class="nav-item u-header__nav-item  ">
                                <a class="nav-link u-header__nav-link" href="#scheduleSection">大会日程 </a>
                            </li>
                            <li class="nav-item u-header__nav-item  ">
                                <a class="nav-link u-header__nav-link" href="#customerSection">赞助商 </a>
                            </li>
                            <li class="nav-item u-header__nav-item">
                                <a class="nav-link u-header__nav-link" href="https://wj.qq.com/s2/4541286/16bd/" target="_blank">申请演讲</a>
                            </li>
                            <li class="nav-item u-header__nav-item  ">
                                <a class="nav-link u-header__nav-link" href="https://jinshuju.net/f/PwkpQB" target="_blank">申请志愿者</a>
                            </li>

                            <li class="nav-item u-header__nav-item  ">
                                <a class="nav-link u-header__nav-link" href="#contactsSection">联系主办方</a>
                            </li>
                        </ul>
                    </div>

                    <!-- End Navigation -->
                </nav>
                <!-- End Nav -->
            </div>
        </div>
    </header>
    <!-- ========== END HEADER ========== -->
    <!-- ==========  MAIN CONTENT ========== -->

    <main id="content" role="main">
        @RenderBody()
    </main>

    <!-- ========== END MAIN CONTENT ========== -->

    @await Component.InvokeAsync(typeof(FooterViewComponent))



    <!-- Go to Top -->
    <a class="js-go-to u-go-to" href="#"
       data-position='{"bottom": 15, "right": 15 }'
       data-type="fixed"
       data-offset-top="400"
       data-compensation="#header"
       data-show-effect="slideInUp"
       data-hide-effect="slideOutDown">
        <span class="fas fa-arrow-up u-go-to__inner"></span>
    </a>
    <!-- End Go to Top -->
    <!-- JS Global Compulsory -->
    <script src="~/assets/vendor/jquery/dist/jquery.min.js"></script>
    <script src="~/assets/vendor/jquery-migrate/dist/jquery-migrate.min.js"></script>
    <script src="~/assets/vendor/popper.js/dist/umd/popper.min.js"></script>
    <script src="~/assets/vendor/bootstrap/bootstrap.min.js"></script>

    <!-- JS Implementing Plugins -->
    <script src="~/assets/vendor/hs-megamenu/src/hs.megamenu.js"></script>
    <script src="~/assets/vendor/svg-injector/dist/svg-injector.min.js"></script>
    <script src="~/assets/vendor/hs-bg-video/hs-bg-video.js"></script>
    <script src="~/assets/vendor/dzsparallaxer/dzsparallaxer.js"></script>

    <script src="~/assets/vendor/hs-bg-video/vendor/player.min.js"></script>
    <script src="~/assets/vendor/typed.js/lib/typed.min.js"></script>

    <script src="~/assets/vendor/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/assets/vendor/fancybox/jquery.fancybox.min.js"></script>
    <script src="~/assets/vendor/slick-carousel/slick/slick.js"></script>

    <script src="~/assets/vendor/appear.js"></script>
    <script src="~/assets/js/countdown.js"></script>

    <!-- JS Implementing Plugins -->
    <!-- JS Front -->
    <script src="~/assets/js/hs.core.js"></script>
    <script src="~/assets/js/components/hs.header.js"></script>
    <script src="~/assets/js/components/hs.unfold.js"></script>
    <script src="~/assets/js/components/hs.scroll-nav.js"></script>
    <script src="~/assets/js/components/hs.svg-injector.js"></script>
    <script src="~/assets/js/components/hs.validation.js"></script>
    <script src="~/assets/js/components/hs.go-to.js"></script>
    <!-- JS Front -->

    <script src="~/assets/js/components/hs.bg-video.js"></script>
    <script src="~/assets/js/components/hs.fancybox.js"></script>
    <script src="~/assets/js/components/hs.slick-carousel.js"></script>
    <script src="~/assets/js/components/hs.scroll-effect.js"></script>

    <script src="~/assets/js/components/hs.focus-state.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>