<div class="">

    <div class="w-lg-65 text-center mx-auto mb-5 mb-sm-9">
        <h2 class="h1 font-weight-semi-bold">社区合作伙伴 </h2>

    </div>
    <div class="w-lg-75 mx-lg-auto">

        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-4">
                    <div style="text-align: center; height: 150px; padding: 5px">
                        <img src="~/assets/img/Communitypartnerslogo/01.jpg" width="300" height="150" />
                    </div>
                    <div style="text-align: center">
                        <br />
                        <a href="#">胶东开发者社区</a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div style="text-align: center; height: 150px; padding: 5px">
                        <img src="~/assets/img/Communitypartnerslogo/02.jpg" width="300" height="150" />
                    </div>
                    <div style="text-align: center">
                        <br />
                        <a href="#">微软技术俱乐部（苏州）</a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div style="text-align: center; height: 150px; padding: 5px">
                        <img src="~/assets/img/Communitypartnerslogo/03.jpg" width="300" height="150" />
                    </div>
                    <div style="text-align: center">
                        <br />
                        <a href="#">.NET Core Community (NCC)</a>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div style="text-align: center; height: 150px; padding: 5px">
                        <img src="~/assets/img/Communitypartnerslogo/guangzhou.jpg" width="300" height="150" />
                    </div>
                    <div style="text-align: center">
                        <br />
                        <a href="#">广州 .NET 技术俱乐部)</a>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div style="text-align: center; height: 150px; padding: 5px">
                        <img src="~/assets/img/Communitypartnerslogo/51aspx.png" width="300" height="150" />
                    </div>
                    <div style="text-align: center">
                        <br />
                        <a href="#">51ASPX</a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div style="text-align: center; height: 150px; padding: 5px">
                        <img src="~/assets/img/Communitypartnerslogo/bxug.jpg" width="300" height="150" />
                    </div>
                    <div style="text-align: center">
                        <br />
                        <a href="#">BXUG</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
