<div class="container space-2 ">

    <div class="w-lg-65 text-center mx-auto mb-5 mb-sm-9">
        <h2 class="h1 font-weight-semi-bold">出品人</h2>

    </div>

    <div class=" row ">
        <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
            <div class="card mb-3">
                <img class="card-img-top" src="~/assets/img/producer/zhang.jpg" asp-append-version="true" />
                <div class="card-body">
                    <h5 class="card-title">张善友 （张队）</h5>
                    <p class="card-text">.NET技术专家</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">

                <div class="card mb-3">
                    <img class="card-img-top" src="~/assets/img/producer/yi.jpg" asp-append-version="true" />
                    <div class="card-body">
                        <h5 class="card-title">衣明志</h5>
                        <p class="card-text">烟台易云网络科技有限公司 创始人</p>
                    </div>
                </div>

            </div>
        </div>


        <div class="w-100 mb-50px d-none d-lg-block"></div>

        <div class="card-deck card-sm-gutters-1 d-block d-sm-flex">
            <div class="card mb-3">
                <img class="card-img-top" src="~/assets/img/producer/su.jpg" asp-append-version="true" />
                <div class="card-body">
                    <h5 class="card-title">苏震巍</h5>
                    <p class="card-text">苏州盛派网络科技有限公司CEO兼首席架构师</p>
                </div>
            </div>
            <div class="card mb-3">
                <img class="card-img-top" src="~/assets/img/producer/chen.jpg" asp-append-version="true" />
                <div class="card-body">
                    <h5 class="card-title">衣明志</h5>
                    <p class="card-text">烟台易云网络科技有限公司 创始人</p>
                </div>
            </div>
            <div class="card mb-3">
                <img class="card-img-top" src="~/assets/img/producer/liu.jpeg" asp-append-version="true" />
                <div class="card-body">
                    <h5 class="card-title">苏震巍</h5>
                    <p class="card-text">苏州盛派网络科技有限公司CEO兼首席架构师</p>
                </div>
            </div>
        </div>
    </div>