 
<!-- Hero Section -->
    <div class="container-fluid position-relative z-index-4 space-2 space-top-md-4 space-top-lg-3  ">

       


        <div class="justify-content-lg-between ">
            <div class="bg-primary bg-img-hero"
                 style="background-image: url(../../assets/img/banner/img.jpg); height:640px;">
                <div class="container space-2 space-lg-2">
                    <div class="w-lg-100 text-center mx-lg-auto">
                        <span class="btn btn-xs btn-soft-white btn-pill mb-3">中国.NET峰会</span>
                        <h1 class="text-white font-weight-medium mb-0">
                        </h1>
                    </div>
                </div>
                <div class="text-center mb-7">
                    <div class="w-lg-80 mx-auto">
                        <h1 class="display-4 font-size-md-down-5 text-white mb-3">
                            China .NET Conf 2019

                        </h1>
                        <h2 class="display-4 font-size-md-down-5 text-white mb-3">  中国 .NET 开发者峰会</h2>
                    </div>
                    <div class="w-md-80 w-lg-60 mx-auto">
                        <div class="space-2">
                            <ul class="list-inline list-group-flush list-group-borderless text-md-center mb-0">
                                <li class="list-inline-item h4 text-white  px-2">
                                    <i class="fas fa-clock"></i> 2019-11-09 08:30 ~ 11-10 18:00
                                </li>
                                <li class="list-inline-item px-2 text-white h4 ">
                                    <i class="fas fa-map-marked-alt"></i>



                                    上海杨浦区佳木斯路777号上海中谷小南国花园酒店
                                </li>
                                 
                            </ul>
                        </div>
                    </div>
                    <a class="btn btn-primary btn-pill transition-3d-hover px-5 mr-2" href="https://www.huodongxing.com/event/4514005355700" target="_blank" tabindex="-1">点击报名</a>
                </div>
           @*//     时间 2019-11-09 08:30 ~ 11-10 18:00 地址 上海杨浦区佳木斯路777号上海中谷小南国花园酒店*@


            </div>
        </div>

        <!-- End Content -->
    </div>
    <!-- End Hero Section -->
