<!-- Hero Section -->
    <div class="dzsparallaxer   auto-init height-is-based-on-content use-loading mode-scroll" data-options='{direction: "normal"}'>
        <!-- Apply your Parallax background image here -->
        <div class="divimage dzsparallaxer--target" style="height: 130%; background-image: url(../../assets/img/banner/img2.jpg);"></div>

        <!-- Content -->
        <div class="container text-center space-4">
            <div class="w-lg-50 mx-auto mb-5">
                @*<h1 class="display-3 font-size-md-down-5 text-white font-weight-semi-bold">Handcrafted in London</h1>*@
            </div>


        </div>
        <!-- End Content -->
    </div>
<!-- End Hero Section -->