 
<!-- Hero Section -->
<div class="container-fluid position-relative z-index-4 space-2 space-top-md-4 space-top-lg-3  ">   

    <div class="justify-content-lg-between ">
        <div class="bg-primary bg-img-hero"
             style="background-image: url(../../assets/img/banner/img2.jpg); height:640px;">
            <div class="container space-2 space-lg-3">
                <div class="w-lg-100 text-center mx-lg-auto">
                    <span class="btn btn-xs btn-soft-white btn-pill mb-3">中国.NET峰会</span>
                    <h1 class="text-white font-weight-medium mb-0">
                     
                    </h1>
                </div>
            </div>
        </div>
    </div>
       
        <!-- End Content -->
    </div>
    <!-- End Hero Section -->
