<hr class="my-7">

<!-- ========== FOOTER ========== -->
<footer class="container text-center space-2">
    <!-- Logo -->
    <a class="d-inline-flex align-items-center mb-3" href="index.html" aria-label="Front">
        <img src="~/assets/img/logo/dotnet_60x60.png" />
        <span class="brand brand-primary">中国峰会</span>
    </a>
    <!-- End Logo -->
    <!-- List -->
    <ul class="list-inline list-group-flush list-group-borderless">
        <li class="list-inline-item px-2">
            <a class="list-group-item-action" href="../pages/about-agency.html">About</a>
        </li>
        <li class="list-inline-item px-2">
            <a class="list-group-item-action" href="../pages/services-agency.html">Services</a>
        </li>
        <li class="list-inline-item px-2">
            <a class="list-group-item-action" href="../pages/careers-listing.html">Careers</a>
        </li>
        <li class="list-inline-item px-2">
            <a class="list-group-item-action" href="../blog/classic-right-sidebar.html">Blog</a>
        </li>
    </ul>
    <!-- End List -->
    <!-- Copyright -->
    <p class="small text-muted mb-0">© .NTE Conf. @DateTime.Now.Year.ToString() Powered by  <a href="52ABP.com">52ABP</a> & Front </p>
    <!-- End Copyright -->
</footer>
<!-- ========== END FOOTER ========== -->