<hr class="my-7">

<!-- ========== FOOTER ========== -->
<footer class="container text-center space-2">
    <!-- Logo -->
    <a class="d-inline-flex align-items-center mb-3" href="index.html" aria-label="Front">
        <img src="~/assets/img/logo/dotnet_60x60.png" />
        <span class="brand brand-primary">中国峰会</span>
    </a>
    <!-- End Logo -->
    <!-- Copyright -->
    <p class="small text-muted mb-0">© .NET Conf. @DateTime.Now.Year.ToString() Powered by  <a href="52ABP.com">52ABP</a> & Front </p>
    <!-- End Copyright -->
</footer>
<!-- ========== END FOOTER ========== -->