@using DotnetconfChina.Views.Shared.Components;
@using DotnetconfChina.Views.Shared.Components.Customer
@using DotnetconfChina.Views.Shared.Components.Hero
@using DotnetconfChina.Views.Shared.Components.Producer
@using DotnetconfChina.Views.Shared.Components.Schedule
@using DotnetconfChina.Views.Shared.Components.Ticket
@using DotnetconfChina.Views.Shared.Components.Speaker



@{
    ViewData["Title"] = "2019 .NTE Conf 中国 开发者峰会官方网站";
}



@await Component.InvokeAsync(typeof(HeroViewComponent))




<!-- Video Section -->
@*<div class="container-fluid px-lg-5 ">
        <div class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll min-height-600" data-options='{direction: "normal"}'>
            <div class="dzsparallaxer--target" style="height: 130%; background-color: #000; background-image: url(../../assets/media/waves.png);"
                 data-forcewidth_ratio="1.77">
                <div class="js-bg-video position-absolute top-0 right-0 bottom-0 left-0 w-100 h-100"
                     data-hs-bgv-path="../../assets/media/waves"
                     data-hs-bgv-loop="1"></div>
            </div>
        </div>
    </div>*@
<!-- End Video Section -->
<!-- Clients Section -->
<div class="container">
    <div class="w-lg-65 text-center mx-auto mb-5 mb-sm-9">
        <h2 class="h1 font-weight-semi-bold">2019年.NTE Conf 介绍</h2>

    </div>
    <div class="row justify-content-lg-between">
        <div class="col-lg-3 mb-5 mb-lg-0">
            <div class="  text-center mx-md-auto mb-9">
                <span class="btn btn-xs btn-soft-success btn-pill ">活动介绍</span>
            </div>
        </div>
        <div class="col-lg-9">
            <p>
                2014年微软组织并成立.NET基金会，微软在成为主要的开源参与者的道路上又前进了一步。2014年以来已经有众多知名公司加入.NET基金会，在平台项目中，.NET平台上有87％贡献者其实并不在Microsoft工作。为了将.NET基金会变成一个更加多样化和成员驱动的组织，微软把.NET 的发展真正交给社区，为了让OSS真正蓬勃发展。
            </p>
            <p>9月23号就是2019年.NET Conf，今年它将比以往任何时候规模都更大， .NET Core 3.0已经在大会上正式发布。中国区的活动也正式提上日程，好多年都没有像这样规模的社区大会，今年举办 .NET 社区的中国峰会。 预计1000人规模，覆盖中国 14个城市的.NET 社区及机构。</p>
        </div>
    </div>
</div>
<!-- End Clients Section -->
<!-- Divider -->
<div class="container">
    <div class="w-lg-65 mx-lg-auto">
        <hr class="my-0">
    </div>
</div>
<!-- End Divider -->
<!-- Producer Section -->
<div id="producerSection">
    @await Component.InvokeAsync(typeof(ProducerViewComponent));
</div>
<!-- End Producer -->
<!-- Speaker Section -->
<div id="speakerSection" class="container  space-2">

    @await Component.InvokeAsync(typeof(SpeakerViewComponent));


</div>
<!-- End Speaker Section -->
<!-- Ticket Section -->
<div id="ticketSection" class="container ">
    @await Component.InvokeAsync(typeof(TicketViewComponent));

</div>
<!-- End Ticket Section -->
<!-- Schedule Section -->
<div id="scheduleSection" class="container  space-2">

    @await Component.InvokeAsync(typeof(ScheduleViewComponent));


</div>
<!-- End Schedule Section -->
<!-- Customer Section -->
@await Component.InvokeAsync(typeof(CustomerViewComponent));
<!-- End Customer Section -->