@using DotnetconfChina.Views.Shared.Components;
@using DotnetconfChina.Views.Shared.Components.Customer
@using DotnetconfChina.Views.Shared.Components.Hero
@using DotnetconfChina.Views.Shared.Components.Ticket
@using DotnetconfChina.Views.Shared.Components.Publsher

@{
    ViewData["Title"] = "2019 .NTE Conf 中国 开发者峰会官方网站";
}



@await Component.InvokeAsync(typeof(HeroViewComponent))




<!-- Video Section -->
@*<div class="container-fluid px-lg-5 ">
        <div class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll min-height-600" data-options='{direction: "normal"}'>
            <div class="dzsparallaxer--target" style="height: 130%; background-color: #000; background-image: url(../../assets/media/waves.png);"
                 data-forcewidth_ratio="1.77">
                <div class="js-bg-video position-absolute top-0 right-0 bottom-0 left-0 w-100 h-100"
                     data-hs-bgv-path="../../assets/media/waves"
                     data-hs-bgv-loop="1"></div>
            </div>
        </div>
    </div>*@
<!-- End Video Section -->
<!-- Clients Section -->
<div id="aboutSection" class="container space-2">
    <div class="w-lg-85 text-center mx-auto mb-5 mb-sm-9">
        <h2 class="h1 font-weight-semi-bold">China .NET Conf 2019 中国峰会介绍</h2>
    </div>
    <div class="row justify-content-lg-between">
        <div class="col-lg-3 mb-5 mb-lg-0">
            <div class="  text-center mx-md-auto mb-8">
                <span class="btn btn-xs btn-soft-success btn-pill ">活动介绍</span>
            </div>
        </div>
        <div class="col-lg-9">
            <p>
                2014年微软组织并成立 .NET 基金会，微软在成为主要的开源参与者的道路上又前进了一步。2014年以来已经有众多知名公司加入 .NET 基金会，在平台项目中，.NET 平台上有87％贡献者其实并不在 Microsoft 工作。为了将 .NET 基金会变成一个更加多样化和成员驱动的组织，微软把 .NET 的发展真正交给社区，为了让 OSS 真正蓬勃发展。
            </p>
            <p>
                9月23号就是2019年的 .NET Conf，今年它将比以往任何时候规模都更大， .NET Core 3.0已经在大会上正式发布。中国区的活动也正式提上日程，好多年都没有像这样规模的社区级别大会，今年我们迎来第一届 .NET 社区的中国峰会。 预计1000人规模，覆盖中国 14个城市的 .NET 社区及机构。
            </p>
        </div>
    </div>
</div>
<!-- End Clients Section -->
@*<div class="container">
        <div class="w-lg-65 mx-lg-auto">
            <hr class="my-0">
        </div>
    </div>*@

<!--================ Innovation section Start =================-->

<div class="container">
    <div class="row">
        <div class="clockdiv-content text-center col-md-6"  style="margin-left: 100px;">
            <p class="h4 primary-text2 mb-2">2019 年 11 月 09 日</p>
            <p class="h5 primary-text2 mb-2">中国 · 上海</p>
            <p class="h5 primary-text2 mb-2">09:00 - 18:00</p>
        </div>

        <div class="text-center"  style="margin-left: -30px; margin-Top: 25px;">
            <ul class="clockdiv" id="clockdiv">
                <li class="clockdiv-single clockdiv-day">
                    <h1 class="days">0</h1>
                    <span class="smalltext">Days</span>
                </li>
                <li class="clockdiv-single clockdiv-hour">
                    <h1 class="hours">0</h1>
                    <span class="smalltext">Hours</span>
                </li>
                <li class="clockdiv-single clockdiv-minute">
                    <h1 class="minutes">0</h1>
                    <span class="smalltext">Mins</span>
                </li>
                <li class="clockdiv-single clockdiv-day">
                    <h1 class="seconds">0</h1>
                    <span class="smalltext">Seconds</span>
                </li>
            </ul>
        </div>
    </div>
</div>




<!--================ Innovation section End =================-->
<!-- Publisher Section -->
@await Component.InvokeAsync(typeof(PublsherViewComponent));
<!-- End Publisher Section -->
<!-- Customer Section -->
@await Component.InvokeAsync(typeof(CustomerViewComponent));
<!-- End Customer Section -->
<!-- Pricing Section -->
@await Component.InvokeAsync(typeof(TicketViewComponent));
<!-- End Pricing Section -->
<!-- Events Section -->
<div class="container  space-2">
    <!-- Title -->
    <div class="w-lg-65 text-center mx-auto mb-5 mb-sm-9">
        <h2 class="h1 font-weight-semi-bold">大会日程 </h2>

    </div>
    <!-- End Title -->



    <div id="eventsSection" class="bg-primary rounded mx-3 mx-md-8">

        <div class="container space-2 space-lg-3">
            <!-- Title -->
            <div class="w-lg-65 text-center text-white mx-auto mb-5 mb-sm-7">
                <h2 class="h1 font-weight-semi-bold"> 即将更新</h2>
            </div>
            <!-- End Title -->
            <!-- Nav -->
            <!-- End Nav -->
            <!-- Tab Content -->
            <!-- End Tab Content -->
            <!-- Link -->
            <!-- End Link -->
        </div>
    </div>
    <!-- End Events Section -->
</div>