<!-- Stories Section -->
<div id="customerSection" class="container space-2 space-lg-3">
    <!-- Title -->
    <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-9">
        <span class="btn btn-xs btn-soft-success btn-pill mb-2">赞助商</span>
        <h2 class="font-weight-medium">本次大会的合作伙伴感谢他们的支持</h2>
    </div>
    <!-- End Title -->

    <div class="row">
        <div class="col-sm-6 col-md-4 mb-5">
            <!-- Card Info -->
            <div class="card border-0 shadow-soft h-100">
                <img class="card-img-top" src="~/assets/img/480x320/img35.jpg" alt="Image Description">
                <div class="card-body p-5">
                    <div class="max-width-15 w-100 mb-3">
                        <img class="img-fluid" src="~/assets/svg/clients-logo/amazon-original.svg" alt="Logo">
                    </div>
                    <p class="mb-0">Amazon launched their enterprise platform and built a powerful user experience.</p>
                </div>
                <div class="card-footer bg-light border-0 py-4 px-5">
                    <a href="customer-story.html">Read Story <small class="fas fa-arrow-right ml-1"></small></a>
                </div>
            </div>
            <!-- End Card Info -->
        </div>

        <div class="col-sm-6 col-md-4 mb-5">
            <!-- Card Info -->
            <div class="card border-0 shadow-soft h-100">
                <img class="card-img-top" src="~/assets/img/480x320/img31.jpg" alt="Image Description">
                <div class="card-body p-5">
                    <div class="max-width-15 w-100 mb-3">
                        <img class="img-fluid" src="~/assets/svg/clients-logo/mapbox-original.svg" alt="Logo">
                    </div>
                    <p class="mb-0">Mapbox empowers marketers to create digital marketing dashboards easily and share them with their team.</p>
                </div>
                <div class="card-footer bg-light border-0 py-4 px-5">
                    <a href="customer-story.html">Read Story <small class="fas fa-arrow-right ml-1"></small></a>
                </div>
            </div>
            <!-- End Card Info -->
        </div>

        <div class="col-sm-6 col-md-4 mb-5">
            <!-- Card Info -->
            <div class="card border-0 shadow-soft h-100">
                <img class="card-img-top" src="~/assets/img/480x320/img32.jpg" alt="Image Description">
                <div class="card-body p-5">
                    <div class="max-width-15 w-100 mb-3">
                        <img class="img-fluid" src="~/assets/svg/clients-logo/netflix-original.svg" alt="Logo">
                    </div>
                    <p class="mb-0">Netflix's mission is to create a planet run by the sun. In order to achieve this goal, they needed to find a way to make solar simple.</p>
                </div>
                <div class="card-footer bg-light border-0 py-4 px-5">
                    <a href="customer-story.html">Read Story <small class="fas fa-arrow-right ml-1"></small></a>
                </div>
            </div>
            <!-- End Card Info -->
        </div>

        <div class="col-sm-6 col-md-4 mb-5">
            <!-- Card Info -->
            <div class="card border-0 shadow-soft h-100">
                <img class="card-img-top" src="~/assets/img/480x320/img33.jpg" alt="Image Description">
                <div class="card-body p-5">
                    <div class="max-width-15 w-100 mb-3">
                        <img class="img-fluid" src="~/assets/svg/clients-logo/google-original.svg" alt="Logo">
                    </div>
                    <p class="mb-0">Google is an innovator in public safety technology. First-to-market with TASER conducted energy weapons (CEWs).</p>
                </div>
                <div class="card-footer bg-light border-0 py-4 px-5">
                    <a href="customer-story.html">Read Story <small class="fas fa-arrow-right ml-1"></small></a>
                </div>
            </div>
            <!-- End Card Info -->
        </div>

        <div class="col-sm-6 col-md-4 mb-5">
            <!-- Card Info -->
            <div class="card border-0 shadow-soft h-100">
                <img class="card-img-top" src="~/assets/img/480x320/img34.jpg" alt="Image Description">
                <div class="card-body p-5">
                    <div class="max-width-15 w-100 mb-3">
                        <img class="img-fluid" src="~/assets/svg/clients-logo/paypal-original.svg" alt="Logo">
                    </div>
                    <p class="mb-0">Front Projects has proved to be most efficient cloud based project tracking and bug tracking tool.</p>
                </div>
                <div class="card-footer bg-light border-0 py-4 px-5">
                    <a href="customer-story.html">Read Story <small class="fas fa-arrow-right ml-1"></small></a>
                </div>
            </div>
            <!-- End Card Info -->
        </div>

        <div class="col-sm-6 col-md-4 mb-5">
            <!-- Card Info -->
            <div class="card border-0 shadow-soft h-100">
                <img class="card-img-top" src="~/assets/img/480x320/img29.jpg" alt="Image Description">
                <div class="card-body p-5">
                    <div class="max-width-15 w-100 mb-3">
                        <img class="img-fluid" src="~/assets/svg/clients-logo/hubspot-original.svg" alt="Logo">
                    </div>
                    <p class="mb-0">Visitors can build a form or survey before signing up, but in order to save and share it, they need to create an account.</p>
                </div>
                <div class="card-footer bg-light border-0 py-4 px-5">
                    <a href="customer-story.html">Read Story <small class="fas fa-arrow-right ml-1"></small></a>
                </div>
            </div>
            <!-- End Card Info -->
        </div>

        <div class="col-sm-6 col-md-4 mb-5">
            <!-- Card Info -->
            <div class="card border-0 shadow-soft h-100">
                <img class="card-img-top" src="~/assets/img/480x320/img36.jpg" alt="Image Description">
                <div class="card-body p-5">
                    <div class="max-width-15 w-100 mb-3">
                        <img class="img-fluid" src="~/assets/svg/clients-logo/fitbit-original.svg" alt="Logo">
                    </div>
                    <p class="mb-0">Google is an innovator in public safety technology. First-to-market with TASER conducted energy weapons (CEWs).</p>
                </div>
                <div class="card-footer bg-light border-0 py-4 px-5">
                    <a href="customer-story.html">Read Story <small class="fas fa-arrow-right ml-1"></small></a>
                </div>
            </div>
            <!-- End Card Info -->
        </div>

        <div class="col-sm-6 col-md-4 mb-5">
            <!-- Card Info -->
            <div class="card border-0 shadow-soft h-100">
                <img class="card-img-top" src="~/assets/img/480x320/img37.jpg" alt="Image Description">
                <div class="card-body p-5">
                    <div class="max-width-15 w-100 mb-3">
                        <img class="img-fluid" src="~/assets/svg/clients-logo/airbnb-original.svg" alt="Logo">
                    </div>
                    <p class="mb-0">Front Projects has proved to be most efficient cloud based project tracking and bug tracking tool.</p>
                </div>
                <div class="card-footer bg-light border-0 py-4 px-5">
                    <a href="customer-story.html">Read Story <small class="fas fa-arrow-right ml-1"></small></a>
                </div>
            </div>
            <!-- End Card Info -->
        </div>

        <div class="col-sm-6 col-md-4 mb-5">
            <!-- Card Info -->
            <div class="card border-0 shadow-soft h-100">
                <img class="card-img-top" src="~/assets/img/480x320/img38.jpg" alt="Image Description">
                <div class="card-body p-5">
                    <div class="max-width-15 w-100 mb-3">
                        <img class="img-fluid" src="~/assets/svg/clients-logo/slack-original.svg" alt="Logo">
                    </div>
                    <p class="mb-0">Front Projects has proved to be most efficient cloud based project tracking and bug tracking tool.</p>
                </div>
                <div class="card-footer bg-light border-0 py-4 px-5">
                    <a href="customer-story.html">Read Story <small class="fas fa-arrow-right ml-1"></small></a>
                </div>
            </div>
            <!-- End Card Info -->
        </div>
    </div>

    <div class="text-center mt-5">
        <a class="btn btn-primary" href="#">View all Stories</a>
    </div>
</div>
<!-- End Stories Section -->