<!-- Stories Section -->
    <div id="customerSection" class="container space-2 ">
        <!-- Title -->
        <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-9">
            <h2 class="h1 font-weight-semi-bold">赞助商 </h2>

            <h2 class="font-weight-medium">本次大会的合作伙伴，感谢他们的支持</h2>
        </div>
        <!-- End Title -->

        <div class="row">
            <div class="col-sm-6 col-md-3 col-lg-3  mb-lg-0 mb-5">
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6  mb-lg-0 mb-5">
                <!-- Card Info -->
                <div class="card border-0 shadow-soft h-100">
                    <img class="card-img-top" src="~/assets/img/customer/MS_Azure_1.png" alt="Image Description">
                    <div class="card-body p-5">

                        <p class="mb-0">
                            高效、混合、智能、可信赖。Azure 是一个不断扩展的云计算服务集合，它可以帮助组织应对各种商业挑战。通过 Azure，公司和组织可使用首选工具和框架，在大规模全球性网络上随心所欲地构建、管理和部署应用程序。
                        </p>
                    </div>
                    <div class="card-footer bg-light border-0 py-4 px-5">

                    </div>
                </div>
                <!-- End Card Info -->
            </div>


        </div>



        <div class="w-md-80 space-2 w-lg-50 text-center mx-md-auto  ">
            <span class="h2 btn btn-xs btn-soft-primary mb-3 btn-pill mb-1">星牌赞助</span>
        </div>

        <div class="row">
            <div class="col-sm-6 col-md-3 col-lg-3  mb-lg-0 mb-5">
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6  mb-lg-0 mb-5">
                <!-- Card Info -->
                <div class="card border-0 shadow-soft h-100">
                    <img class="card-img-top" src="~/assets/img/customer/xiaobao.png" alt="Image Description">
                    <div class="card-body p-5">

                        <p class="mb-0">
                            简介：校宝在线成立于2010年，是中国深受欢迎的教育产业服务平台，目前已帮助超9万个教育品牌实现信息化管理，超18万个校区实现互联网+教育业务升级。校宝在线正以“双轮驱动+增值服务”战略全面布局教育服务产业。

                        </p>
                    </div>
                    <div class="card-footer bg-light text-center border-0 py-4 px-5">

                    </div>
                </div>
                <!-- End Card Info -->
            </div>


        </div>

        <div class="w-md-80 space-2 w-lg-50 text-center mx-md-auto ">
            <span class="h2 btn btn-xs btn-soft-primary mb-3 btn-pill mb-2">企业支持</span>
        </div>
        <div class="row justify-content-md-center">



            <div class="col-lg-4 col-sm-6 mb-4">
                <!-- Card Info -->
                <div class="card border-0 shadow-soft h-100">
                    <img class="card-img-top" src="~/assets/img/customer/youhaoda.png" alt="深圳市友浩达科技有限公司">
                    <div class="card-body p-5">
                        <p class="mb-0">
                            友浩达，2018年8月诞生于中国深圳，是一家以互联网为基础的科技公司，微软合作伙伴和腾讯云合作伙伴。我们的使命是“通过技术改变生活”。友浩达秉承着“予力众生，成就不凡”的经营理念，借助微软开源技术为亿万网民赋能。友浩达希望成为各行各业的数字化助手，助力数字中国建设。在工业、医疗、零售、教育等各个领域，友浩达借助微软开源技术 .NET Core为传统行业的数字化转型提供“数字工具箱”。

                        </p>
                    </div>
                    <div class="card-footer bg-light text-center border-0 py-4 px-5">

                    </div>
                </div>
                <!-- End Card Info -->
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <!-- Card Info -->
                <div class="card border-0 shadow-soft h-100">
                    <img class="card-img-top" src="~/assets/img/customer/Chenxin02.png" alt="臣辛科技">
                    <div class="card-body p-5">
                        <p class="mb-0">
                            臣辛科技致力于成为客户业务创新和推动企业数字化转型最可信赖的合作伙伴。在数字经济新时代，坚持以技术应用为发展引擎，应用目前最成熟的技术模型到实际用户场景。致力于推动数据分析落地，支持企业培养数据分析人才。为企业商业数据分析助力，形成企业自有的一套数字化管理体系，最终实现数据推动生产力。

                        </p>
                    </div>
                    <div class="card-footer bg-light text-center border-0 py-4 px-5">
                    </div>
                </div>
                <!-- End Card Info -->
            </div>


            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="card border-0 shadow-soft h-100">
                    <img class="card-img-top" src="~/assets/img/customer/abp_pro.png" alt="52ABP-PRO">
                    <div class="card-body p-5">
                        <p class="mb-0">
                            52ABP-PRO是一个快速响应，移动优先的符合现代UI设计和SOLID架构的强力开发框架，它是您任何创意和专业网站的完美起点。为您的商业点子带来无限可能，使您的网站在网络上脱颖而出。
                            框架提供文档、视频培训以及Vue、Angular及MVC多套模板供您选择。

                        </p>
                    </div>
                    <div class="card-footer bg-light text-center border-0 py-4 px-5">
                    </div>
                </div>
            </div>


            <div class="col-lg-4 col-sm-6 mb-4  mb-3">
                <div class="card border-0 shadow-soft h-100">
                    <img class="card-img-top" src="~/assets/img/customer/易云网络.jpeg" alt="易云网络">
                    <div class="card-body p-5">
                        <p class="mb-0">
                            烟台易云网络科技有限公司，是一家由资深技术专家发起创办的创新型互联网企业。公司团队推崇极简和开放，重视前沿技术的研究和实践，并不断将其体现在自有产品和方案中，为来自世界各地的客户提供优质的技术服务。公司对微服务（Microservice）架构、容器（Docker）技术、跨平台(Xamarin)App开发、自动化测试、团队协作、移动互联、信息安全等领域保持着积极的关注。
                        </p>
                    </div>
                    <div class="card-footer bg-light text-center border-0 py-4 px-5">
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <div class="card border-0 shadow-soft h-100">
                    <img class="card-img-top" src="~/assets/img/customer/shengpai.jpg" alt="苏州盛派网络科技有限公司">
                    <div class="card-body p-5">
                        <p class="mb-0">
                            苏州盛派网络科技有限公司（Suzhou Senparc Network Technology Co.,Ltd.）主营移动互联网、微信、电子商务、大数据、企业管理系统的开发及实施。拥有5家国内子公司和1家海外子公司。Senparc目前拥有一流的软件及网站开发团队，拥有超过26年开发维护经验，可以从事相关的调研、分析、策划、设计、开发、实施、部署、维护、跟踪升级等全套优质服务。Senparc 自主研发并开源的 Senparc.Weixin SDK 是目前市场占有率 85% 以上的微信 C# 开发套件，图书《微信开发深度解析》已经出版，广受好评。

                        </p>
                    </div>
                    <div class="card-footer bg-light text-center border-0 py-4 px-5">
                    </div>
                </div>
            </div>
        </div>



        </div>
        <!-- End Stories Section -->
