<!-- Stories Section -->
<div id="customerSection" class="container space-2 ">
    <!-- Title -->
    <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-9">
        <span class="btn btn-xs btn-soft-success btn-pill mb-2">赞助商</span>
        <h2 class="font-weight-medium">本次大会的合作伙伴，感谢他们的支持</h2>
    </div>
    <!-- End Title -->

    <div class="row">
        <div class="col-sm-6 col-md-6 mb-5">
            <!-- Card Info -->
            <div class="card border-0 shadow-soft h-100">
              
                <img class="card-img-top" src="~/assets/img/customer/MS_Azure_1.png" alt="Image Description">
                <div class="card-body p-5">
                    @*<div class="max-width-15 w-100 mb-3">
                        <img class="img-fluid" src="~/assets/svg/clients-logo/amazon-original.svg" alt="Logo">
                    </div>*@
                    <p class="mb-0">
                        高效、混合、智能、可信赖。Azure 是一个不断扩展的云计算服务集合，它可以帮助组织应对各种商业挑战。通过 Azure，公司和组织可使用首选工具和框架，在大规模全球性网络上随心所欲地构建、管理和部署应用程序。
                    </p>
                </div>
                <div class="card-footer bg-light border-0 py-4 px-5">
                    @*<a href="customer-story.html">Read Story <small class="fas fa-arrow-right ml-1"></small></a>*@
                </div>
            </div>
            <!-- End Card Info -->
        </div>

   
    </div>

    
</div>
<!-- End Stories Section -->