<div class="d-md-flex bg-img-hero">
    <!-- Ticket Section -->
    <div id="ticketSection" class="container">
        <!-- Title -->
        <div class="w-lg-65 text-center mx-auto mb-5 mb-sm-12">
            <h2 class="h1 font-weight-semi-bold">大会门票</h2>
        </div>
        <!-- End Title -->
        <div class="w-lg-65 mx-auto mx-lg-12">
            <div class="row align-items-sm-end mx-n4 mb-12">


                <div class="col-sm-6 col-md-6 px-2 mb-3 mb-md-0">
                    <!-- Pricing -->
                    <div class="card text-center shadow">
                        <div class="card-header border-0 pt-5 px-5">
                            <img class="mb-2" src="~/assets/svg/components/one-dot.svg" alt="Image Description" width="60">
                            <h4 class="h6 mb-3">超级早鸟票</h4>
                            <span class="font-size-2 font-weight-semi-bold">99元</span>
                        </div>
                        <div class="card-body pt-0 pb-5 px-5">
                            <ul class="list-group list-group-flush list-group-borderless text-secondary mb-4">

                                <li class="list-group-item">超级早鸟票及社区特价票，10月20号前购买，需要审核。可参加2019年11月9日大会， 获得大会资料，茶歇。</li>
                            </ul>
                            <a href="https://www.huodongxing.com/event/4514005355700" target="_blank" class="btn btn-sm btn-block btn-outline-primary transition-3d-hover">购买</a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-6 px-2 mb-3 mb-md-0">
                    <!-- Pricing -->
                    <div class="card text-center shadow">
                        <div class="card-header border-0 pt-5 px-5">
                            <img class="mb-2" src="~/assets/svg/components/one-dot.svg" alt="Image Description" width="60">
                            <h4 class="h6 mb-3">早鸟票</h4>
                            <span class="font-size-2 font-weight-semi-bold">199元</span>
                        </div>
                        <div class="card-body pt-0 pb-5 px-5">
                            <ul class="list-group list-group-flush list-group-borderless text-secondary mb-4">

                                <li class="list-group-item">早鸟票，10月25号前购买, 限量300张，先到先得。可参加2019年11月9日大会， 获得大会资料，茶歇。。</li>
                            </ul>
                            <a href="https://www.huodongxing.com/event/4514005355700" target="_blank" class="btn btn-sm btn-block btn-outline-primary transition-3d-hover">购买</a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-6 px-2 mb-3 mb-md-0">
                    <!-- Pricing -->
                    <div class="card text-center shadow">
                        <div class="card-header border-0 pt-5 px-5">
                            <img class="mb-2" src="~/assets/svg/components/one-dot.svg" alt="Image Description" width="60">
                            <h4 class="h6 mb-3">参会票</h4>
                            <span class="font-size-2 font-weight-semi-bold">299元</span>
                        </div>
                        <div class="card-body pt-0 pb-5 px-5">
                            <ul class="list-group list-group-flush list-group-borderless text-secondary mb-4">

                                <li class="list-group-item">大会全程参与票，截至活动前一天中午12点。可参加2019年11月9日大会， 获得大会资料，茶歇及大会周边。</li>
                            </ul>
                            <a href="https://www.huodongxing.com/event/4514005355700" target="_blank" class="btn btn-sm btn-block btn-outline-primary transition-3d-hover">购买</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 px-2 mb-3 mb-md-0">
                    <!-- Pricing -->
                    <div class="card text-center shadow">
                        <div class="card-header border-0 pt-5 px-5">
                            <img class="mb-2" src="~/assets/svg/components/one-dot.svg" alt="Image Description" width="60">
                            <h4 class="h6 mb-3">VIP票</h4>
                            <span class="font-size-2 font-weight-semi-bold">999元</span>
                        </div>
                        <div class="card-body pt-0 pb-5 px-5">
                            <ul class="list-group list-group-flush list-group-borderless text-secondary mb-4">
                                <li class="list-group-item">可参加2019年11月9日大会，安排大会VIP座位，参加【 .NET 之夜】晚宴聚会，获得大会资料，茶歇及大会周边。</li>
                            </ul>
                            <a href="https://www.huodongxing.com/event/4514005355700" target="_blank" class="btn btn-sm btn-block btn-outline-primary transition-3d-hover">购买</a>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
       
    <!-- End Ticket Section -->
</div>