  <!--================ Speaker section Start =================-->
<section class="speaker-bg section-padding" id="speakers">
    <div class="container">
        <div class="section-intro section-intro-white text-center pb-98px">
            @*<p class="section-intro__title">Join the event</p>*@
            <h2 class="primary-text">出品人</h2>
            <img src="~/assets/img/publisher/section-style.png" alt="">
        </div>
        <!-- KEYNOTE -->
        <div class="row justify-content-md-center">
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <div class="card-speaker">
                    <img class="card-img rounded-0" src="img/speakers/dhanawat.jpg" alt="">
                    <div class="speaker-footer">
                        <h4>张善友</h4>
                        <p>Managing Director at Microsoft Thailand</p>
                    </div>
                    <div class="speaker-overlay">
                        <ul class="speaker-social">
                            <li><a href="https://www.linkedin.com/in/dhanawat-suthumpun/" target="_blank"><i class="ti-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="w-100 mb-50px d-none d-lg-block"></div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <div class="card-speaker">
                    <img class="card-img rounded-0" src="img/speakers/teerasej.jpg" alt="">
                    <div class="speaker-footer">
                        <h4>Teerasej Jiraphatchandej</h4>
                        <p>Microsoft MVP and Development Consultant</p>
                    </div>
                    <div class="speaker-overlay">
                        <ul class="speaker-social">
                            <li><a href="https://www.linkedin.com/in/teerasej/" target="_blank"><i class="ti-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <div class="card-speaker">
                    <img class="card-img rounded-0" src="img/speakers/vorapat.jpg" alt="">
                    <div class="speaker-footer">
                        <h4>Vorapat Nicklamai</h4>
                        <p>Azure Consultant at Microsoft</p>
                    </div>
                    <div class="speaker-overlay">
                        <ul class="speaker-social">
                            <li><a href="https://www.linkedin.com/in/vorapatnicklamai/" target="_blank"><i class="ti-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <div class="card-speaker">
                    <img class="card-img rounded-0" src="img/speakers/will.jpg" alt="">
                    <div class="speaker-footer">
                        <h4>
                            William Fuqua
                        </h4>
                        <p>Principal Software Engineer at Jetabroad </p>
                    </div>
                    <div class="speaker-overlay">
                        <ul class="speaker-social">
                            <li><a href="https://www.linkedin.com/in/wafuqua/" target="_blank"><i class="ti-linkedin"></i></a></li>
                            <li><a href="https://github.com/waf" target="_blank"><i class="ti-github"></i></a></li>
                            <li><a href="https://twitter.com/wafuqua" target="_blank"><i class="ti-twitter-alt"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="w-100 mb-50px d-none d-lg-block"></div>

            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <div class="card-speaker">
                    <img class="card-img rounded-0" src="img/speakers/joel.jpg" alt="">
                    <div class="speaker-footer">
                        <h4>Joel Dickson</h4>
                        <p>Developer Manager at Agoda</p>
                    </div>
                    <div class="speaker-overlay">
                        <ul class="speaker-social">
                            <ul class="speaker-social">
                                <li><a href="https://www.linkedin.com/in/joel-dickson-hs/" target="_blank"><i class="ti-linkedin"></i></a></li>
                                <li><a href="https://github.com/dicko2" target="_blank"><i class="ti-github"></i></a></li>
                            </ul>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <div class="card-speaker">
                    <img class="card-img rounded-0" src="img/speakers/theeranit.jpg" alt="">
                    <div class="speaker-footer">
                        <h4>Theeranit Pongtongmuang</h4>
                        <p>Senior Software Engineer at Jetabroad</p>
                    </div>
                    <div class="speaker-overlay">
                        <ul class="speaker-social">
                            <li><a href="https://github.com/aaronamm" target="_blank"><i class="ti-github"></i></a></li>
                            <li><a href="https://www.codesanook.com/" target="_blank"><i class="ti-wordpress"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <div class="card-speaker">
                    <img class="card-img rounded-0" src="img/speakers/giorgio.png" alt="">
                    <div class="speaker-footer">
                        <h4>Giorgio Desideri</h4>
                        <p>Tech Lead Cloud Solution at 7 Peaks Software</p>
                    </div>
                    <div class="speaker-overlay">
                        <ul class="speaker-social">
                            <li><a href="https://www.linkedin.com/in/giorgio-desideri-176a5a7/" target="_blank"><i class="ti-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="w-100 mb-50px d-none d-lg-block"></div>

            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <div class="card-speaker">
                    <img class="card-img rounded-0" src="img/speakers/jose.jpg" alt="">
                    <div class="speaker-footer">
                        <h4>Jose Barbosa</h4>
                        <p>Senior Software Engineer at Jetabroad</p>
                    </div>
                    <div class="speaker-overlay">
                        <ul class="speaker-social">
                            <li><a href="https://www.linkedin.com/in/kidchenko/" target="_blank"><i class="ti-linkedin"></i></a></li>
                            <li><a href="https://github.com/kidchenko" target="_blank"><i class="ti-github"></i></a></li>
                            <li><a href="https://twitter.com/kidchenko" target="_blank"><i class="ti-twitter-alt"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <div class="card-speaker">
                    <img class="card-img rounded-0" src="img/speakers/surasuk.jpg" alt="">
                    <div class="speaker-footer">
                        <h4>Surasuk Oakkharaamonphong</h4>
                        <p>Microsoft MVP and Team Lead at SmartContract</p>
                    </div>
                    <div class="speaker-overlay">
                        <ul class="speaker-social">
                            <li><a href="https://www.linkedin.com/in/surasuk612/" target="_blank"><i class="ti-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <div class="card-speaker">
                    <img class="card-img rounded-0" src="img/speakers/gittitat.jpg" alt="">
                    <div class="speaker-footer">
                        <h4>Gittitat Ekchantawut</h4>
                        <p>Game Developer at Xrosstales Studio</p>
                    </div>
                    <div class="speaker-overlay">
                        <ul class="speaker-social">
                            <li><a href="https://www.youtube.com/user/StrokeCGM" target="_blank"><i class="ti-youtube"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="w-100 mb-50px d-none d-lg-block"></div>

            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <div class="card-speaker">
                    <img class="card-img rounded-0" src="img/speakers/nattapong.jpg" alt="">
                    <div class="speaker-footer">
                        <h4>Nattapong Nunpan</h4>
                        <p>Software Engineer at Jetabroad</p>
                    </div>
                    <div class="speaker-overlay">
                        <ul class="speaker-social">
                            <li><a href="https://www.linkedin.com/in/aixasz/" target="_blank"><i class="ti-linkedin"></i></a></li>
                            <li><a href="https://github.com/aixasz" target="_blank"><i class="ti-github"></i></a></li>
                            <li><a href="https://twitter.com/aixasz" target="_blank"><i class="ti-twitter-alt"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <div class="card-speaker">
                    <img class="card-img rounded-0" src="img/speakers/yosapol.jpg" alt="">
                    <div class="speaker-footer">
                        <h4>Yosapol Jitrak</h4>
                        <p>DevOps Engineer at Humanize</p>
                    </div>
                    <div class="speaker-overlay">
                        <ul class="speaker-social">
                            <li><a href="https://github.com/Eji4h" target="_blank"><i class="ti-github"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <div class="card-speaker">
                    <img class="card-img rounded-0" src="img/speakers/michael.jpg" alt="">
                    <div class="speaker-footer">
                        <h4>Michael Kohl</h4>
                        <p>Engineering Lead at Gojek</p>
                    </div>
                    <div class="speaker-overlay">
                        <ul class="speaker-social">
                            <li><a href="https://www.linkedin.com/in/citizen428/" target="_blank"><i class="ti-linkedin"></i></a></li>
                            <li><a href="https://github.com/citizen428/" target="_blank"><i class="ti-github"></i></a></li>
                            <li><a href="https://twitter.com/citizen428" target="_blank"><i class="ti-twitter-alt"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="w-100 mb-50px d-none d-lg-block"></div>

            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <div class="card-speaker">
                    <img class="card-img rounded-0" src="img/speakers/pranart.jpg" alt="">
                    <div class="speaker-footer">
                        <h4>Pranart Dechpokket</h4>
                        <p>Lead Xamarin Developer</p>
                    </div>
                    <div class="speaker-overlay">
                        <ul class="speaker-social">
                            <li><a href="https://xamarin.in.th" target="_blank"><i class="ti-wordpress"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ Speaker section End =================-->
