 <!-- Title -->
    <div class="w-lg-65 text-center mx-auto mb-5 mb-sm-9">
        <h2 class="h1 font-weight-semi-bold">演讲嘉宾 </h2>
        <img src="~/assets/img/publisher/section-style.png" alt="">
    

    </div>
<!-- End Title -->
<!--================ Speaker section Start =================-->
<section class="speaker-bg  " id="speakers">
    <div class="container">        
        <!-- KEYNOTE -->
        <div class="row justify-content-md-center">


            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <div class="card-speaker">
                    <img src="~/assets/img/Speaker/JustinYoo.png" class="card-img rounded-0" asp-append-version="true" />

                    <div class="speaker-footer">
                        <h4>
                            Justin Yoo
                        </h4>
                        <p>
                            .NET / DevOps / Serverless / Messaging
                        </p>
                    </div>

                </div>
            </div>


            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <div class="card-speaker">
                    
                    <img src="~/assets/img/Speaker/肖伟宇.png" class="card-img rounded-0" asp-append-version="true" />

                    <div class="speaker-footer">
                        <h4>肖伟宇</h4>
                        <p>校宝在线技术专家</p>
                    </div>

                </div>
            </div>

            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <div class="card-speaker">
                    <img class="card-img rounded-0" src="~/assets/img/Speaker/卢建晖.png" asp-append-version="true" />
                    <div class="speaker-footer">
                        <h4>卢建晖</h4>
                        <p>在.NET Core下的机器学习</p>
                    </div>

                </div>
            </div>
            <div class="w-100 mb-50px d-none d-lg-block"></div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <div class="card-speaker">
                    <img class="card-img rounded-0" src="~/assets/img/Speaker/刘腾飞.png" asp-append-version="true" />
                    <div class="speaker-footer">
                        <h4>刘腾飞 </h4>
                        <p>上海程析智能科技  平台事业部负责人</p>
                    </div>

                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <div class="card-speaker">
                    <img src="~/assets/img/Speaker/桂素伟.png" class="card-img rounded-0" asp-append-version="true" />

                    <div class="speaker-footer">
                        <h4>
                            桂素伟
                        </h4>
                        <p>
                            株式会社ネットスターズ(NetStars) 架构师
                        </p>
                    </div>

                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <div class="card-speaker">
                    <img src="~/assets/img/Speaker/朱宗海.png" class="card-img rounded-0" asp-append-version="true" />

                    <div class="speaker-footer">
                        <h4>
                            朱宗海
                        </h4>
                        <p>蔚来汽车  架构师</p>
                    </div>

                </div>
            </div>

            <div class="w-100 mb-50px d-none d-lg-block"></div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <div class="card-speaker">
                    <img class="card-img rounded-0" src="~/assets/img/Speaker/罗彬.png" asp-append-version="true" />
                    <div class="speaker-footer">
                        <h4>罗彬</h4>
                        <p>
                            一嗨租车 架构师
                        </p>
                    </div>

                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <div class="card-speaker">
                    <img src="~/assets/img/Speaker/苏震巍.png" class="card-img rounded-0" asp-append-version="true" />

                    <div class="speaker-footer">
                        <h4>
                            苏震巍
                        </h4>
                        <p>
                            苏州盛派网络科技有限公司 CEO 兼首席架构师

                        </p>
                    </div>

                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <div class="card-speaker">
                    <img src="~/assets/img/Speaker/梁规晓.png" class="card-img rounded-0" asp-append-version="true" />

                    <div class="speaker-footer">
                        <h4>梁规晓	</h4>
                        <p>
                            Gworld（平潭）互联网科技	首席架构师
                        </p>
                    </div>

                </div>
            </div>

            <div class="w-100 mb-50px d-none d-lg-block"></div>  <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <div class="card-speaker">
                    <img class="card-img rounded-0" src="~/assets/img/Speaker/李望.png" asp-append-version="true" />
                    <div class="speaker-footer">
                        <h4>李望  </h4>
                        <p>
                            行云创新  解决方案总监
                        </p>
                    </div>

                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <div class="card-speaker">
                    <img src="~/assets/img/Speaker/黄海鹏.png" class="card-img rounded-0" asp-append-version="true" />

                    <div class="speaker-footer">
                        <h4>
                            黄海鹏
                        </h4>
                        <p>
                            苏州易泰勒电子科技  研发总监
                        </p>
                    </div>

                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <div class="card-speaker">
                    <img src="~/assets/img/Speaker/张潇
.png" class="card-img rounded-0" asp-append-version="true" />

                    <div class="speaker-footer">
                        <h4>
                            张潇
                        </h4>
                        <p>Daocloud 软件工程师</p>
                    </div>

                </div>
            </div>

            <div class="w-100 mb-50px d-none d-lg-block"></div>
        </div>
   
    
        <div class="row">
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <div class="card-speaker">
                    <img class="card-img rounded-0" src="~/assets/img/Speaker/刘腾飞.png" asp-append-version="true" />
                    <div class="speaker-footer">
                        <h4>刘腾飞 </h4>
                        <p>上海程析智能科技  平台事业部负责人</p>
                    </div>

                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <div class="card-speaker">
                    <img src="~/assets/img/Speaker/桂素伟.png" class="card-img rounded-0" asp-append-version="true" />

                    <div class="speaker-footer">
                        <h4>
                            桂素伟
                        </h4>
                        <p>
                            株式会社ネットスターズ(NetStars) 架构师
                        </p>
                    </div>

                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <div class="card-speaker">
                    <img src="~/assets/img/Speaker/朱宗海.png" class="card-img rounded-0" asp-append-version="true" />

                    <div class="speaker-footer">
                        <h4>
                            朱宗海
                        </h4>
                        <p>蔚来汽车  架构师</p>
                    </div>

                </div>
            </div>

            <div class="w-100 mb-50px d-none d-lg-block"></div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <div class="card-speaker">
                    <img class="card-img rounded-0" src="~/assets/img/Speaker/罗彬.png" asp-append-version="true" />
                    <div class="speaker-footer">
                        <h4>罗彬</h4>
                        <p>
                            一嗨租车 架构师
                        </p>
                    </div>

                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <div class="card-speaker">
                    <img src="~/assets/img/Speaker/Anduin.png" class="card-img rounded-0" asp-append-version="true" />

                    <div class="speaker-footer">
                        <h4>
                            Anduin
                        </h4>
                        <p>
                            Aiursoft	CTO


                        </p>
                    </div>

                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <div class="card-speaker">
                    <img src="~/assets/img/Speaker/蒋金楠.png" class="card-img rounded-0" asp-append-version="true" />

                    <div class="speaker-footer">
                        <h4>蒋金楠</h4>
                        <p>同程艺龙 机票事业部技术专家</p>
                    </div>

                </div>
            </div>

            <div class="w-100 mb-50px d-none d-lg-block"></div>  <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <div class="card-speaker">
                    <img class="card-img rounded-0" src="~/assets/img/Speaker/黄国石.png" asp-append-version="true" />
                    <div class="speaker-footer">
                        <h4>黄国石  </h4>
                        <p>
                            中通快递，资深架构师

                        </p>
                    </div>

                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <div class="card-speaker">
                    <img src="~/assets/img/Speaker/黄海鹏.png" class="card-img rounded-0" asp-append-version="true" />

                    <div class="speaker-footer">
                        <h4>
                            黄海鹏
                        </h4>
                        <p>
                            苏州易泰勒电子科技  研发总监
                        </p>
                    </div>

                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <div class="card-speaker">
                    <img src="~/assets/img/Speaker/周国庆.png" class="card-img rounded-0" asp-append-version="true" />

                    <div class="speaker-footer">
                        <h4>
                            周国庆
                        </h4>
                        <p>
                            特来电新能源	公共技术部部长
                        </p>
                    </div>

                </div>
            </div>

            <div class="w-100 mb-50px d-none d-lg-block"></div>
        </div>
    
        <div class="row">
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <div class="card-speaker">
                    <img class="card-img rounded-0" src="~/assets/img/Speaker/陈计节.png" asp-append-version="true" />
                    <div class="speaker-footer">
                        <h4>
                            陈计节
                        </h4>
                        <p>
                            红帽开放创新实验室 高级咨询顾问
                        </p>
                    </div>

                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <div class="card-speaker">
                    <img src="~/assets/img/Speaker/潘淳.png" class="card-img rounded-0" asp-append-version="true" />

                    <div class="speaker-footer">
                        <h4>
                            潘淳
                        </h4>
                        <p>
                            微软技术俱乐部（苏州） - 执行主席

                        </p>
                    </div>

                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <div class="card-speaker">
                    <img src="~/assets/img/Speaker/周岳.png" class="card-img rounded-0" asp-append-version="true" />

                    <div class="speaker-footer">
                        <h4>
                            周岳
                        </h4>
                        <p>
                            北京视高盛景软件 首席架构师
                        </p>
                    </div>

                </div>
            </div>

            <div class="w-100 mb-50px d-none d-lg-block"></div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <div class="card-speaker">
                    <img class="card-img rounded-0" src="~/assets/img/Speaker/韩骏.png" asp-append-version="true" />
                    <div class="speaker-footer">
                        <h4>韩骏 </h4>
                        <p>
                            微软 - 资深软件工程师
                        </p>
                    </div>

                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <div class="card-speaker">
                    <img src="~/assets/img/Speaker/刘凡平.png" class="card-img rounded-0" asp-append-version="true" />

                    <div class="speaker-footer">
                        <h4>
                            刘凡平

                        </h4>
                        <p>
                            国内某科技公司算法团队负责人


                        </p>
                    </div>

                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <div class="card-speaker">
                    <img src="~/assets/img/Speaker/蒋金楠.png" class="card-img rounded-0" asp-append-version="true" />

                    <div class="speaker-footer">
                        <h4>蒋金楠</h4>
                        <p>同程艺龙 机票事业部技术专家</p>
                    </div>

                </div>
            </div>

            <div class="w-100 mb-50px d-none d-lg-block"></div>  <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <div class="card-speaker">
                    <img class="card-img rounded-0" src="~/assets/img/Speaker/杨守斌.png" asp-append-version="true" />
                    <div class="speaker-footer">
                        <h4>杨守斌  </h4>
                        <p>
                            青岛萨纳斯智能科技 副总经理兼技术总监

                        </p>
                    </div>

                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <div class="card-speaker">
                    <img src="~/assets/img/Speaker/黄海鹏.png" class="card-img rounded-0" asp-append-version="true" />

                    <div class="speaker-footer">
                        <h4>
                            黄海鹏
                        </h4>
                        <p>
                            苏州易泰勒电子科技  研发总监
                        </p>
                    </div>

                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <div class="card-speaker">
                    <img src="~/assets/img/Speaker/梁士伟.png" class="card-img rounded-0" asp-append-version="true" />

                    <div class="speaker-footer">
                        <h4>
                            梁士伟
                        </h4>
                        <p>
                            上海(韵达)蜜罐信息科技	架构师

                        </p>
                    </div>

                </div>
            </div>

            <div class="w-100 mb-50px d-none d-lg-block"></div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <div class="card-speaker">
                    <img class="card-img rounded-0" src="~/assets/img/Speaker/鲍健运.png" asp-append-version="true" />
                    <div class="speaker-footer">
                        <h4>
                            鲍健运
                        </h4>
                        <p>
                            Unity大中华区教育技术总监
                        </p>
                    </div>

                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <div class="card-speaker">
                    <img src="~/assets/img/Speaker/王龙飞.png" class="card-img rounded-0" asp-append-version="true" />

                    <div class="speaker-footer">
                        <h4>
                            王龙飞
                        </h4>
                        <p>
                            NEO Staff Engineer


                        </p>
                    </div>

                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <div class="card-speaker">
                    <img src="~/assets/img/Speaker/衣明志.png" class="card-img rounded-0" asp-append-version="true" />

                    <div class="speaker-footer">
                        <h4>
                            衣明志
                        </h4>
                        <p>
                            烟台易云网络科技 创始人

                        </p>
                    </div>

                </div>
            </div>

            <div class="w-100 mb-50px d-none d-lg-block"></div>
            <div class="  col-lg-4 col-sm-6 mb-4 mb-lg-0 align-items-center">
                </div>
                <div class="  col-lg-4 col-sm-6 mb-4 mb-lg-0 align-items-center">
                    <div class="card-speaker">
                        <img class="card-img rounded-0" src="~/assets/img/Speaker/郭腾飞.png" asp-append-version="true" />
                        <div class="speaker-footer">
                            <h4>郭腾飞 </h4>
                            <p>
                                武汉安邦致远科技 - 项目经理

                            </p>
                        </div>

                    </div>
                </div>


                <div class="w-100 mb-50px d-none d-lg-block"></div>
            </div>
        </div>
</section>
<!--================ Speaker section End =================-->
